* {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 2.2rem;
    padding: 16px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(160, 160, 160);
    text-decoration: underline;
}

a:active {
    color: rgb(14, 14, 14);
    text-decoration: none;
}

body {
    background-color: rgb(49, 49, 49);
    font-family: Roboto, Arial, sans-serif;
    color: white;
}

nav {
    background-color: rgb(63, 63, 63);
    border-bottom: 3px solid white;
    padding: 2%;
}

nav div {
    display: inline-flex;
}

.nav-button {
    position: relative;
    font-size: 1.6rem;
}

.nav-title {
    position: relative;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px black;
}

.nav-logo {
    display:inline;
    border: rgb(184, 118, 19) solid 3px;
    background-color:rgb(49, 49, 49);
    padding: 5px;
    border-radius: 10%;
    font-size: 2rem;
    margin-right: 2%;
}

.nav-link {
    margin-left: 2.5%;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    border: solid 2px white;
    margin: 10px;
    width: fit-content;
}

.card h2 {
    text-align: center;
}

.flexbox {
    display: flex;
}

.flexbox div {
    padding: 10px;
}

.desc {
    margin: 5% 0;
    font-size: 1.3rem;
}

img {
    width: 50%;
    height: 50%;
    border: solid 2px white;
    border-radius: 5px;
    margin: 6px;
}

.links {
    color: #59a6ff;
    margin-right: 16px;
}

.links:link {
    color: #59a6ff
}

.links:visited {
    color: #59a6ff
}

.links:hover {
    color: #7dbaff
}

.links:active {
    color:  white;
}