* {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 2.2em;
    padding: 3%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(160, 160, 160);
    text-decoration: underline;
}

a:active {
    color: rgb(14, 14, 14);
    text-decoration: none;
}

body {
    background-color: rgb(49, 49, 49);
    font-family: Roboto, Arial, sans-serif;
    color: white;
}

nav {
    background-color: rgb(63, 63, 63);
    border-bottom: 3px solid white;
    padding: 2%;
}

nav div {
    display: inline-flex;
}

.nav-button {
    position: relative;
    font-size: 1.6em;
}

.nav-title {
    position: relative;
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black;
}

.nav-logo {
    display:inline;
    border: rgb(184, 118, 19) solid 3px;
    background-color:rgb(49, 49, 49);
    padding: 5px;
    border-radius: 10%;
    font-size: 2em;
    margin-right: 2%;
}

.nav-link {
    margin-left: 2.5%;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    border: solid 2px white;
    margin: 10px;
    width: fit-content;
}

.card h2 {
    text-align: center;
}

.about {
    text-align: center;
    margin: 0 auto 6% auto;
    padding: 4%;
}

.about p {
    text-align: center;
}

.aboutDesc {
    font-size: 1.2em;
    padding: 2%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 600px) {
    .flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.flexbox div {
    padding: 10px;
}

.desc {
    margin: 4% 0;
    font-size: 1.3em;
}

img {
    width: 50%;
    height: 50%;
    border: solid 2px white;
    border-radius: 5px;
    margin: 10px auto;
}

.links {
    color: #59a6ff;
    margin-right: 1.2em;
}

.links:link {
    color: #59a6ff
}

.links:visited {
    color: #59a6ff
}

.links:hover {
    color: #7dbaff
}

.links:active {
    color:  white;
}